{% extends "manager/base.html" %}
{% block title %}Bok Admin{% endblock %}
{% block content %}
{% verbatim %}
<div ng-controller="bokCtrl">
	<div class="boat-banner">
		<div class="head">
			<!-- <h3>{{boat.name}} ({{boat.type}}) | {{boat.no_room}} Rooms | {{boat.ac_type}}</h3> -->
			<h3>Welcome</h3>
		</div>
	</div>
	<div class="clr-b">
		<div class="menu-panel">
			<ul>
				<li ng-repeat="r in routes" ng-class="{sele:r.selected}" ng-click="show(r)">{{r.name}}<span class="glyphicon glyphicon-{{r.icon}}"></span></li>
			</ul>
		</div>
		<div class="sele-panel">
			<ng-view></ng-view>
		</div>
	<div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
	<script src='/static/js/_bok.js'></script>
{% endblock%}